{% set model = createModel('Media','media') %}
{% set driver = service('driver').create(driver_name) %}      
{% set keywords = searchValue('search_text','media.import') %}
{% set keywords = keywords|default('movie') %}
{% set service = driver.getService() %}
{% set per_page = getRowsPerPage('media-feeds') %}
{% set queryParams = { 
        maxResults: per_page,
        q: keywords,
        type: 'video' 
    } 
%}
{% set response = service.search.listSearch('snippet',queryParams) %}
{% set paginator = paginate(response.items,'media-feeds') %} 
{% set index = 0 %}

{{ response.nextPageToken  }}
{{ response.prevPageToken  }}
{% for item in response.items %}     
    <tr id="{{ index }}">         
        <td>                                                     
            <span class="{{ (model.hasMedia(item.snippet.title) == false) ? 'hidden' : '' }}" id="install_icon_{{ index }}">
                <i class="ui icon check olive" title="{{ labels.installed }}"></i>        
            </span>     
            {% if model.hasMedia(item.snippet.title) == false %}
            <button class="ui basic mini icon button install-button" index="{{ index }}" driver-name="{{ driver_name }}" video-id="{{ item.id.videoId }}">
                <i class="download alternate icon"></i>
            </button>         
            {% endif %}                                                                                                                                              
        </td>           
        <td>                
            <img class="image rounded" src="{{ item.snippet.thumbnails['medium'].url }}" width="80px" height="80px">        
        </td>
        <td>
            {{ item.snippet.title }}
        </td>            
        <td>
            {% set description = (item.snippet.description is empty) ? ' ' : item.snippet.description %}
            {{ description }}</td>   
        </td>                                                                
    </tr>
    {% set index = index + 1 %} 
{% endfor %}
