{{  component('system:admin.tabs.vertical',{       
        id: 'images_menu_tab',
        items: [ 
            { 
                title: labels.view, 
                component: 'image::admin.images.view', 
                svg_icon: 'icons~list', 
                active: true 
            },
            { 
                title: labels.upload, 
                component: 'image::admin.images.upload', 
                svg_icon: 'icons~upload' 
            },   
            { 
                title: labels.import, 
                component: 'image::admin.images.import', 
                svg_icon: 'icons~document' 
            },
            { 
                title: labels.thumbnails, 
                component: 'image::admin.thumbnails', 
                svg_icon: 'icons~image' 
            },
            { 
                title: labels.edit, 
                component: 'image::admin.images.edit', 
                svg_icon: 'icons~edit' 
            },
            { 
                title: labels.relations, 
                component: 'image::admin.images.relations', 
                svg_icon: 'icons~info' 
            }
        ],   
        content: { 
            id: 'images_menu_tab_content', 
            component: 'image::admin.images.view', 
            params: {} 
        } 
    })
}}