<form class="form" id="import_image_form">    
    <input type="hidden" name="url" id="url" value="{{ url }}">
    <input type="hidden" name="file_name" id="file_name" value="{{ file_name }}">
    <input type="hidden" name="thumbnail_width" id="thumbnail_width" value="{{ thumbnail_width }}">
    <input type="hidden" name="thumbnail_height" id="thumbnail_height" value="{{ thumbnail_height }}">
    <input type="hidden" name="relation_id" id="relation_id" value="{{ relation_id }}">
    <input type="hidden" name="relation_type" id="relation_type" value="{{ relation_type }}">
    {% if custom_fields is iterable %}
        {% for field in custom_fields %}
            <input type="hidden" name="{{ field.name }}" id="{{ field.id|default(field.name) }}" value="{{ field.value }}">
        {% endfor %}
    {% endif %}

    {% if hide_preview != true %}
    <div class="{{ theme.form.field }}">      
        <img 
            class="rounded" 
            src="{{ url }}">
        <div class="mt-4">
            <div class="badge badge-sm badge-outline">
                {{ url }}
            </div>
        </div>      
    </div>
    {% endif %}

    {% if target_path is not empty %}
    <div class="{{ theme.form.field }}">
        <input type="hidden" name="target_path" id="target_path" value="{{ target_path }}">      
        <label class="{{ theme.form.label }}">
            {{ fields.path.label }}
        </label>
        <div class="badge badge-sm badge-outline">
            ..{{ target_path|relativePath }} {{ file_name }}
        </div>
    </div>
    {% endif %}   
       
    {% if create_thumbnail == true %}
    <div class="{{ theme.form.field }}">
        <label class="{{ theme.form.label }}">
            {{ fields.thumbnail.label }}
        </label>
        {{ component('image::thumbnails.size',{ skip: ['custom'], class: 'selection mini fluid' }) }}
    </div> 
    {% endif %}
    <div class="{{ theme.form.field }}">
         <label class="{{ theme.form.label }}">
            {{ fields.protected.label }}
        </label>
        <input type="checkbox" name="private" id="private" value="1">
        <span class="px-1">
            {{ fields.protected.placeholder }}
        </span>
    </div>
    {{ component('system:form.footer',{ button_title: buttons.import }) }}   
</form>