{% if uuid is not empty %}
    {% set image = createModel('Image','image').findById(uuid) %}
{% endif %}
<div class="ui segment mt-4 w-full">  
    <table class="ui table very basic definition">
        <tbody>
            <tr>
                <td class="right aligned">{{ labels.id }}</td>
                <td>{{ image.uuid }}</td>
            </tr>
            <tr>
                <td class="right aligned">{{ labels.status }}</td>
                <td>
                    {{ component('semantic~status.label',{ status: image.status }) }}
                </td>
            </tr>
            <tr>
                <td class="right aligned">{{ labels.type }}</td>
                <td>
                    {{ image.mime_type }}
                </td>
            </tr>
            <tr>
                <td class="right aligned">{{ labels.size }}</td>
                <td>
                    {% if image.width is empty and image.height is empty %}
                        N/A
                    {% else %}
                        {{ image.width }} x {{ image.height }}
                    {% endif %}
                </td>
            </tr>
            <tr>
                <td class="right aligned">{{ labels.file_size }}</td>
                <td>
                    {{ image.file_size|fileSize }}
                </td>
            </tr>
            <tr>
                <td class="right aligned">{{ labels.owner }}</td>
                <td>
                    {{ image.user.user_name_or_email }}
                </td>
            </tr>           
        </tbody>
    </table>
    <div>       
        {% component 'semantic~code' %}  
        {%- set language = 'p-2 html' -%}                              
        <img src="{{ url(image.src) }}"/>
        {% endcomponent %}     
    </div>
</div>