{% if uuid is not empty %}
    {% set image = createModel('Image','image').findById(uuid) %}
{% endif %}
{% component 'system:admin.panel' %}   
    <div class="ui image p-4 bordered">
        <img src="{{ image.thumbnail(64,64).src }}">
    </div>
    <table class="{{ theme.table.details }}">
        <tbody>
            <tr>
                <td class="{{ theme.table.field.label }}">{{ labels.id }}</td>
                <td>
                    {{ component('system:admin.view.id',{ model: image }) }}                    
                </td>
            </tr>
            <tr>
                <td class="{{ theme.table.field.label }}">{{ labels.status }}</td>
                <td>
                    {{ component('system:admin.status.label',{ status: image.status }) }}
                </td>
            </tr>
            <tr>
                <td class="{{ theme.table.field.label }}">{{ labels.path }}</td>
                <td>
                    {{ image.file_name }}
                </td>
            </tr>
            <tr>
                <td class="{{ theme.table.field.label }}">{{ labels.file_name }}</td>
                <td>
                    {{ image.base_name }}
                </td>
            </tr>
            <tr>
                <td class="{{ theme.table.field.label }}">{{ labels.type }}</td>
                <td>
                    {{ image.mime_type }}
                </td>
            </tr>
            <tr>
                <td class="{{ theme.table.field.label }}">{{ labels.size }}</td>
                <td>
                    {% if image.width is empty and image.height is empty %}
                        N/A
                    {% else %}
                        {{ image.width }} x {{ image.height }}
                    {% endif %}
                </td>
            </tr>
            <tr>
                <td class="{{ theme.table.field.label }}">{{ labels.file_size }}</td>
                <td>
                    {{ image.file_size|fileSize }}
                </td>
            </tr>
            <tr>
                <td class="{{ theme.table.field.label }}">{{ labels.owner }}</td>
                <td>
                    {{ image.user.user_name_or_email }}
                </td>
            </tr>  
            <tr>
                <td class="{{ theme.table.field.label }}">{{ labels.src }}</td>
                <td>
                    {{ url(image.src) }}
                </td>
            </tr>           
        </tbody>
    </table>
{% endcomponent %}