{% import systemMacro('orderBy.html') as order %}
{% component 'components:tabs.vertical.content' %}
{% set class = 'sixteen wide column' %}
{% set panel_class = '' %}
{% set order_by = getOrderBy('media') %}
{% set status_filter = searchValue('status','media') %}
<div class="ui stackable grid">
    <div class="sixteen wide column mt-10">             
        <div class="ui two column centered stackable grid">
            <div class="row">
                <div class="ui four computer two tablet column left aligned">
                    {{ component('components:search.form',{ namespace: 'media' }) }}
                </div>
            </div>  
            <div class="row">
                <div class="ui four computer two tablet column left aligned">
                    <i class="icon filter"></i>
                    {{  component('components:status.dropdown',{ 
                            status: status_filter,
                            class: 'status-filter clearable selection',                       
                            all: false 
                        }) 
                    }} 
                </div>
            </div>   
        </div>               
    </div>
</div>
<div class="ui stackable text menu">
    <div class="item right floated">       
        {{ component('components:paginator.dropdown',{ namespace: 'media' }) }}
    </div>
</div>
<div class="ui mt-2">
    <table class="ui compact stackable selectable borderless basic table">
        <thead class="table-head">
            <tr>              
                <th class="one wide collapsing left aligned">{{ columns.action }}</th>
                <th class="one wide">
                    {{ order.orderByLink('media','date_created') }}            
                    {{ columns.created }}
                </th>
                <th class="collapsing one wide">                   
                    {{ order.orderByLink('media','status') }}
                    {{ columns.status }}
                </th>
                <th class="collapsing center aligned">{{ columns.thumbnail }}</th>    
                <th class="two wide">
                    {{ order.orderByLink('media','title') }}
                    {{ columns.title }}
                </th>                                         
                <th class="one wide">{{ columns.category }}</th>
                <th>{{ columns.tags }}</th>
                <th class="four wide">{{ columns.source }}</th> 
                <th class="one wide">
                    {{ columns.user }}
                </th>
                <th class="one wide">
                    {{ columns.type }}
                </th>
                <th class="one wide">
                    {{ order.orderByLink('media','views') }}
                    {{ columns.views }}
                </th>                            
            </tr>
        </thead>
        <tbody id="media_rows" component="arcade::admin.media.view.rows" namespace="media">
            {{ component('media::admin.media.view.rows') }} 
        </tbody>
    </table> 
    <div id="paginator">      
        {{ component("components:paginator",{ namespace: 'media' }) }}
    </div>
</div>
{% endcomponent %}