{% set params = { category: 'feeds.media', empty: labels.empty } %}
{% set items = [ 
    { title: labels.browse, component: 'media::admin.import.view', icon: 'table', active: true },
    { title: labels.list, component: 'system:admin.drivers.list', icon: 'list', params: params },   
    { id: 'drivers_config', title: labels.config, component: 'system:admin.modules.drivers.config', icon: 'cogs',  params: params }
] %}

{{  component('components:tabs.vertical',{ 
        items: items, 
        menu: { id: 'import_menu' }, 
        item_class: 'import-tab-item',
        content: { id: 'import_content', component: 'media::admin.import.view' } 
    })
}}