{% if hasModule('qrcode') == false %}
    <div class="alert alert-warning alert-outline">
        <span class="text-gray-800">
            {% error 'QrCode module not installed' %}
        </span>       
    </div>
{% endif %}

{% component 'system:admin.panel' %}   
    {% set size = 'w-1/2' %}
    <div class="mt-4">
        <form class="form" id="qr_code_form">
            <div class="{{ theme.form.field }}">
                <label class="{{ theme.form.label }}">
                    {{ fields.data.label }}
                </label>
                <textarea 
                    class="{{ theme.form.textarea }}"
                    rule="empty" 
                    name="data" 
                    id="data" 
                    rows="5" 
                    cols="5"></textarea>
            </div>          
            {{ component('system:form.footer',{ button_title: buttons.generate }) }}   
        </form>
    </div>   
    <div class="rounded" id="qr_code_content">
        <div class="mt-4 p-2">
            <img 
                style="border:0px"
                class="ui image borderless" 
                width="240px" 
                height="240px" id="qrcode_image"/>
        </div>
    </div>
{% endcomponent %}