{% component 'components:tabs.vertical.content' %}
{% set default_driver = getOption('media.job.feeds.driver') %}
{% set driver_name = driver_name|default(default_driver) %}
{% set keywords = searchValue('search_text','media.import') %}
{% set class = 'sixteen wide column' %}
{% set panel_class = '' %}

<div class="ui stackable grid">
    <div class=" row mt-10">
        <div class="two wide column">   
            <span class="ui text font-bold mr-4">{{ labels.feed }}</span>                                        
            {{ component('system:admin.drivers.dropdown',{ selected: driver_name, category: 'feeds.media', calss: 'fluid' }) }}                          
        </div>
        <div class="four wide column">            
            <form class="ui form" id="search_form">  
                <div class="inline field">                                             
                    <div class="ui fluid right action labeled input" id="search_input">
                        <div class="ui basic label">
                            {{ labels.keywords }}
                        </div>                                              
                        <input placeholder="{{ labels.placeholder }}" class="search-field" type="text" name="search_text" id="search_text" value="{{ keywords }}">               
                        <div class="ui basic buttons">
                            <button class="ui basic button" id="search_button">
                                <i class="search icon"></i>
                                {{ labels.search }}
                            </button>                       
                        </div>
                    </div>    
                </div>              
            </form> 
        </div>
        <div class="right floated column text-right">
            {{ component('components:paginator.dropdown',{ namespace : 'media-feeds' }) }}
        </div>
    </div>
</div>
<div class="ui mt-2">
    <table class="ui compact stackable selectable borderless basic table">
        <thead class="table-head">
            <tr>                
                <th class="center aligned collapsing">{{ columns.action }}</th>
                <th class="collapsing one wide">{{ columns.image }}</th>               
                <th class="five wide">{{ columns.title }}</th>           
                <th>{{ columns.description }}</th>                                                                                           
            </tr>
        </thead>
        <tbody id="feed_rows">          
            {% if driver_name is not empty %}           
                {{ component('media::admin.import.view.rows',{ driver_name: driver_name }) }}    
            {% endif %}       
        </tbody>
    </table>
   <div id="paginator" next-page-token="" prev-page-token="">    
        {{ component('components:paginator.google') }}       
   </div>  
</div>
{% endcomponent %}