{% set image = createModel('Image','image').where('id','>',0) %}
{{ createSearch('file_name','images','ilike:{value}%') }}
{% set image = applySearch(image,'images') %}
{% set items = paginate(image,'images')  %}
{% if items.getItems()|length == 0 %}
    <tr>
        <td colspan="9">{{ labels.empty }}</td>
    </tr>
{% endif %}
{% for item in items.getItems() %}  
    <tr id="{{ item.uuid }}">             
        <td>            
            <div class="ui buttons">                     
                <button class="ui icon mini basic button thumbnails-button" uuid="{{ item.uuid }}" title="{{ labels.thumbnails }}">
                    <i class="icon images"></i>
                </button>     
                <button class="ui icon mini basic button image-relations-button" uuid="{{ item.uuid }}" title="{{ labels.relations }}">
                    <i class="icon blue project diagram"></i>
                </button>                                                    
                <button class="ui icon mini basic button delete-button" uuid="{{ item.uuid }}" data-title="{{ item.file_name }}">
                    <i class="icon trash orange"></i>
                </button>  
            </div>          
        </td>  
        <td>
            {{ item.date_created|dateFormat }}
        </td>       
        <td class="center aligned">
            {% set thumbnail = item.thumbnail(64,64) %}
            {% if thumbnail is not empty %}
                <img src="{{ url(thumbnail.src) }}" class="ui image rouded">
            {% else %}
                <div class="ui image grounded">
                    <i class="icon image"></i>
                </div>
            {% endif %}
        </td>
        <td class="center aligned">
            {{ item.width }} x {{ item.height }}
        </td>
        <td>    
            {% if item.private == true %}
                <div class="ui basic  icon label" title="{{ labels.protected }}">
                    <i class="icon orange lock"></i>
                </div>
            {% else %}
                <div class="ui basic icon label" title="{{ labels.public }}">
                    <i class="icon green unlock"></i>                  
                </div>
            {% endif %}       
            {{ item.file_name|relativePath }}
        </td>                            
        <td>{{ item.user.user_name }}</td>               
        <td>{{ item.mime_type }}</td>  
        <td>
            {{ item.file_size|fileSize }}
        </td>                       
    </tr>
{% endfor %}
