{% set image = createModel('Image','image').where('id','>',0) %}
{% set user_filter = searchValue('user_id','images') %}
{% if user_filter is not empty %}
    {% set image = image.userImagesQuery(user_filter) %}
{% endif %}
{{ createSearch('file_name','images','ilike:{value}%') }}
{% set image = applySearch(image,'images') %}
{% set items = paginate(image,'images')  %}
{% if items.getItems()|length == 0 %}
    <tr>
        <td colspan="9">{{ labels.empty }}</td>
    </tr>
{% endif %}
{% for item in items.getItems() %}  
    {{ component('image::admin.images.view.row',{ item: item }) }}
{% endfor %}
