<tr id="{{ item.uuid }}">             
    <td>          
        <div            
            class="flex flex-row items-center">  
            <button 
                mountTo="details_content"
                component="image::admin.images.details"
                class="{{ theme.buttons.icon }} image-action" 
                params="uuid:{{ item.uuid }}"
                title="{{ labels.details }}">
                {{ component('icons~info',theme.icons.menu,'svg') }}
            </button>                       
            <button 
                mountTo="details_content"
                component="image::admin.thumbnails"
                class="{{ theme.buttons.icon }} image-action" 
                params="uuid:{{ item.uuid }}"
                title="{{ labels.thumbnails }}">
                {{ component('icons~image',theme.icons.menu,'svg') }}
            </button>   
            <button 
                mountTo="details_content"
                component="image::admin.images.edit"
                params="uuid:{{ item.uuid }}"
                class="{{ theme.buttons.icon }} image-action"                
                title="{{ labels.edit }}">
                {{ component('icons~edit',theme.icons.menu,'svg') }}
            </button>     
            <button 
                mountTo="details_content"
                component="image::admin.images.relations"
                class="{{ theme.buttons.icon }} image-action" 
                params="uuid:{{ item.uuid }}"
                title="{{ labels.relations }}">
                {{ component('icons~share',theme.icons.menu,'svg') }}
            </button>       
            <a 
                title="{{ labels.download }}"
                href="{{ url('/api/image/download/' ~ item.uuid) }}" 
                class="ui icon mini basic button">
                {{ component('icons~download',theme.icons.menu,'svg') }}
            </a>   
            {% if item.deny_delete != true %}                                      
                <button 
                    class="{{ theme.buttons.icon }} delete-button" 
                    uuid="{{ item.uuid }}" 
                    data-title="{{ item.file_name }}">
                    {{ component('icons~trash',theme.icons.delete,'svg') }}
                </button>  
            {% endif %}       
        </div>
    </td>  
    <td class="self-center">
        {% set thumbnail = item.thumbnail(64,64) %}
        {% if thumbnail is not empty %}
            <img 
                src="{{ url(thumbnail.src) }}" 
                class="rounded" 
                title="{{ item.mime_type }}">
        {% else %}
            <div class="rounded">
                {{ component('icons~image',{ size: 'h-full w-full', color: 'gray-400' },'svg') }}                   
            </div>
        {% endif %}
    </td>
    <td>
        {{  component('system:admin.status.dropdown',{ 
                status: item.status, 
                uuid: item.uuid, 
                skip: [2,3,4,5,6] 
            }) 
        }} 
    </td>    
    <td>
        {{ item.date_created|dateFormat }}
    </td>       
    <td class="self-center">
        {% if item.width is not empty and item.height is not empty %}
            {{ item.width }} x {{ item.height }}
        {% else %}
            ..
        {% endif %}
    </td>
    <td title="{{ item.file_name }}">  
        <div            
            class="flex flex-row items-center">
              {% if item.deny_delete == true %}
            <div class="badge badge-sm badge-outline">{{ labels.delete }}</div>
        {% endif %}  
        {% if item.private == true %}
            <span title="{{ labels.protected }}">
                {{ component('icons~lock',theme.icons.menu,'svg') }}
            </span>
        {% else %}
            <span title="{{ labels.public }}">
                {{ component('icons~lock',theme.icons.menu,'svg') }}           
            </span>
        {% endif %}    
            <div class="ml-2" title="{{ item.file_size|fileSize }}">
                {{ item.file_name|baseName }}
            </div>   
        </div>
      
    </td>                                           
    <td>{{ item.user.user_name }}</td>                                               
</tr>