{% set status_filter = searchValue('status','images') %}
<div class="ui stackable grid">
    <div class="sixteen wide column mt-10">             
        <div class="ui two column centered stackable grid">
            <div class="row">
                <div class="ui four computer two tablet column left aligned">
                    {{ component('components:search.form',{ namespace: 'images' }) }}
                </div>
            </div>  
            <div class="row">
                <div class="ui four computer two tablet column left aligned">
                    <i class="icon filter"></i>
                    {{  component('components:status.dropdown',{ 
                            status: status_filter,
                            class: 'status-filter clearable selection',                       
                            all: false 
                        }) 
                    }} 
                </div>
            </div>   
        </div>               
    </div>
</div>
<div class="ui stackable text menu">
    <div class="item right floated">       
        {{ component('components:paginator.dropdown',{ namespace: 'images' }) }}
    </div>
</div>
<div class="ui mt-2">
    <table class="ui compact stackable selectable borderless basic table">
        <thead class="table-head">
            <tr>              
                <th class="one wide collapsing left aligned">{{ columns.action }}</th>
                <th class="one wide">{{ columns.created }}</th>
                <th class="collapsing one wide">{{ columns.status }}</th>
                <th class="collapsing center aligned">{{ columns.thumbnail }}</th>    
                <th class="two wide">{{ columns.name }}</th>                                         
                <th class="one wide">{{ columns.user }}</th>
                <th class="one wide">{{ columns.type }}</th>                           
            </tr>
        </thead>
        <tbody id="image_rows" component="image::admin.images.view.rows" namespace="images">
            {{ component('image::admin.images.view.rows') }} 
        </tbody>
    </table> 
    <div id="paginator">      
        {{ component("components:paginator",{ namespace: 'images' }) }}
    </div>
</div>