{% set status_filter = searchValue('status','images') %}
<div class="ui segment">
    <div class="ui stackable three column grid">
        <div class="column left aligned">
            {{ component('components:search.form',{ namespace: 'images' }) }}
        </div>      
        <div class="column">         
        </div> 
        <div class="right aligned column">       
            {{ component('components:paginator.dropdown',{ namespace: 'images' }) }}
        </div>                 
    </div>
</div>
<div class="ui mt-4">
    <table class="ui compact stackable selectable borderless basic table">
        <thead class="table-head">
            <tr>              
                <th class="one wide collapsing left aligned">{{ columns.action }}</th>
                <th class="one wide">{{ columns.created }}</th>              
                <th class="collapsing center aligned">{{ columns.thumbnail }}</th>   
                <th class="two wide center aligned">{{ columns.size }}</th> 
                <th>{{ columns.name }}</th>     
                <th class="three wide">{{ columns.options }}</th>                                    
                <th class="one wide">{{ columns.user }}</th>
                <th class="one wide">{{ columns.type }}</th>
                <th class="one wide">{{ columns.file_size }}</th>                                   
            </tr>
        </thead>
        <tbody id="image_rows" component="image::admin.images.view.rows" namespace="images">
            {{ component('image::admin.images.view.rows') }} 
        </tbody>
    </table> 
    <div id="paginator">      
        {{ component("components:paginator",{ namespace: 'images' }) }}
    </div>
</div>