{%  set items = [ 
        { id: 'video_button', title: labels.video.content, component: 'media::admin.media', icon: 'video', active: true }, 
        { id: 'import_button', title: labels.import.content, component: 'media::admin.import', icon: 'cloud upload alternate' },      
        { id: 'settings_button', title: labels.settings.content, component: 'media::admin.settings', icon: 'cogs' }
    ] 
%}

{{  component('components:tabs',{ 
        items: items,
        menu: { component: 'system:admin.extensions.menu.actions', extension: 'media' },
        content: { component: 'media::admin.media' } 
    })
}}