{{  component('system:admin.tabs',{ 
        items: [ 
            { 
                title: labels.view, 
                component: 'image::admin.images.view', 
                svg_icon: 'icons~list', 
                active: true 
            },
            { 
                title: labels.collections, 
                component: 'image::admin.collections.view', 
                svg_icon: 'icons~collection'       
            },
            { 
                title: labels.qrcode, 
                component: 'image::admin.qrcode', 
                svg_icon: 'icons~qrcode'       
            }
        ],
        menu: { 
            extension: 'image' 
        },
        content: { 
            component: 'image::admin.images.view' 
        } 
    })
}}