{% set skip = skip|default([]) %}

<select 
    name="{{ name|default('thumbnail_size') }}"
    class="select {{ class }}" 
    id="{{ id|default('thumbnail_size_dropdown') }}">
    {% for key, value in items %}          
        {% if key not in skip %}        
            <option 
                {{ (key == selected ) ? 'selected' : '' }}                  
                value="{{ key }}" 
                data-size="{{ key }}" 
                data-width="{{ value.width }}" 
                data-height="{{ value.height }}">   
                {% set title = (value.width is not empty) ? value.width ~ ' x ' ~ value.height : labels.custom %}
                {{ title }}
            </option>
        {% endif %}
    {% endfor %}
</select>