{% set items = [ 
    { title: labels.view, component: 'media::admin.media.view', icon: 'list', active: true },
    { title: labels.upload, component: 'media::admin.media.upload', icon: 'upload' },
    { id: 'edit_media', title: labels.edit, component: 'media::admin.media.edit', icon: 'edit' }
] %}

{{ component('components:tabs.vertical',{ 
        items: items, 
        menu: { id: 'media_menu' }, 
        item_class: 'media-tab-item',
        content: { id: 'media_content', component: 'media::admin.media.view', params: params } 
   })
}}