<div class="flex flex-row items-start">
    <div class="w-2/3">
        <div class="{{ theme.panel }}">     
            <button 
                mountTo="collection_content"
                component="image::admin.collections.add"
                title="{{ tooltip.create }}"
                class="{{ theme.buttons.green }} create-collection">
                {{ buttons.create }}
            </button>                
        </div>     
        <div class="mt-4 {{ theme.panel }}">      
            <table class="{{ theme.table.default }}">
                <thead>
                    <tr>             
                        <th class="three wide">{{ columns.actions }}</th>
                        <th class="three wide">{{ columns.date }}</th>   
                        <th class="four wide">{{ columns.slug }}</th>   
                        <th>{{ columns.title }}</th>
                        <th class="one wide">{{ columns.images }}</th>         
                        <th class="two wide">{{ columns.owner }}</th>                                                                         
                    </tr>
                </thead>
                <tbody 
                    id="collections_rows" 
                    component="image::admin.collections.view.items" 
                    namespace="collections">
                    {{ component('image::admin.collections.view.items') }}
                </tbody>
            </table>
        </div>
        <div id="paginator">
            
        </div>            
    </div>
    <div class="ml-4 w-1/3" id="collection_content">
    </div>
</div>

{{  component('system:admin.modal.confirm',{
        id: 'delete_collection',
        content: messages.delete
    }) 
}}